<h1>Outdoorsy guy or gal?</h1>
<h2>Click below and enter your favorite outdoor activity!</h2>

<a href="activities/new">Add an Activity</a>

<table>
  <% @activities.each do |activity| %>
    <tr>
      <td>Activity: <%= activity.activity %></td>
      <td><%= button_to 'Edit', { action: 'edit', id: activity.id }, method: :get%> </td>
      <td><%= button_to 'Delete', { action: 'destroy', id: activity.id }, method: :delete%> </td>
  <% end %>
  </tr>
</table>


